/* DOCTYPE - CSS
*@author Thiago Mendes
*@version 1.0
*@Resolution: cellphones <= 479px
*/


/*========================= layout =========================*/
/* cellphones */

@media screen and (max-width: 479px){
	body{
		background-size: 300%;
	}

	.first-frame, .secound-frame, .project{
		padding-top: 10px;
		padding-left: 30px;	
		font-weight: 600;
	}

	.first-frame h6, .btn-custom-white{
		font-size: 16px;
	}

	.first-frame h1{
		font-size: 40px;
	}

	.first-frame p{
		margin-top: 30px;
		width: 280px;
	}

	.btn-custom{
		width: 250px;
		margin-bottom: 5px;
	}

	.my-references{
		text-align: center;
		margin: 15px 0 10px 20px;
		width: 250px;
	}

	.first-frame .link-references{
		width: 65px;
		height: 65px;
		margin: 15px 25px;
	}

	.arrow-down{
		display: none;
	}

	.secound-frame{
		height: 100%;
		padding: 0 20px;
	}

	.secound-frame h2{
		margin: 20px 0;
	}

	.work-title{
		margin-top: 5px;
	}

	.project{	
		height: 100%;
	}
	.project p{
		width: 80%;
		text-align: justify;
		font-size: 14px;
	}

	.project-description p{}

	.video-project{
		width: 100%;
	}
	.video-project iframe{
		margin: 0 auto;
		width: 100%;
		height: 90%;
	}

	.contact-title h5{
	}

	.contact-me{		
		margin: 20px auto;
	}
	#form-contact-me{
		width: 90%;
	}
	#form-contact-me input#name{
		width: 10px;
	}
	#form-contact-me button{
		width: 100%;
	}

}

@media screen and (min-height: 600px) and (max-height:900px){
	body{
		background-size: 150%;
	}

	.first-frame, .secound-frame, .project{
		padding-top: 15px;
		padding-left: 15px;	
		font-weight: 500;
		height: 100%;
	}
}
